In [1]:
#AI建立一個funtion
#資料來源:scores=np.random.randint(50,101,size=(50,5))
#欄位:['國文', '英文', '數學', '自然', '社會']
#索引:'學生' + str(i) for i in range(1, 51)]
#建立一個DataFrame
import numpy as np
import pandas as pd

def build_scores_dataframe(scores):
    df = pd.DataFrame(scores,
                      columns=['國文', '英文', '數學', '自然', '社會'],
                      index=['學生' + str(i) for i in range(1, 51)])
    df.index.name = '學生'
    df.columns.name = '科目'
    sum_values = df.sum(axis=1)
    mean_values = df.mean(axis=1)
    df['總分'] = sum_values
    df['平均'] = mean_values
    rank_values = sum_values.rank(method='min', ascending=False)
    df['排名'] = rank_values
    return df
scores = np.random.randint(50,101,size=(50, 5))
df = build_scores_dataframe(scores)
df

科目     國文   英文   數學   自然   社會   總分    平均    排名
學生
學生1    88   66   95   84   71  404  80.8  11.0
學生2    78   51   60   57   76  322  64.4  49.0
學生3    65   95   68   73   57  358  71.6  28.0
學生4    97   52   63   71   81  364  72.8  25.0
學生5    62   54   81   71   66  334  66.8  45.0
學生6    97   92   88   90   56  423  84.6   7.0
學生7    57   70  100   57   81  365  73.0  24.0
學生8    72   91   98   90   91  442  88.4   1.0
學生9    96   69   54   60  100  379  75.8  20.0
學生10   96  100   50   60   58  364  72.8  25.0
學生11   52   80   95   82   66  375  75.0  22.0
學生12   76  100   75  100   87  438  87.6   2.0
學生13   97   73   83  100   72  425  85.0   6.0
學生14   87   88   92   63   67  397  79.4  15.0
學生15   74   52   59   65   86  336  67.2  42.0
學生16  100   59   83   73   88  403  80.6  12.0
學生17   63   75   90   56   71  355  71.0  29.0
學生18   71   63   90   51   92  367  73.4  23.0
學生19   53   73   83   61   53  323  64.6  48.0
學生20   71   90   68   85   77  391  78.2  19.0
學生21   60  100   83   97   88  428  85.6   5.0
學生22   67   51   76   66   81  341  68.2  40.0
學生23   68   92   77   76   82  395  79.0  16.0
學生24   75  100   86   63   98  422  84.4   8.0
學生25   55   83   69   50   98  355  71.0  29.0
學生26   95   50   76   69   55  345  69.0  36.0
學生27   84   51   56   53   92  336  67.2  42.0
學生28   68   74   58   79   52  331  66.2  46.0
學生29   90   96   79   91   60  416  83.2   9.0
學生30   68   88   81   90   76  403  80.6  12.0
學生31   83   51   59   55  100  348  69.6  33.0
學生32   89   59   94   71   97  410  82.0  10.0
學生33   62   90   54   59   80  345  69.0  36.0
學生34   95   63   59   54   66  337  67.4  41.0
學生35   94   54   62   71   68  349  69.8  32.0
學生36   87  100   64   83   96  430  86.0   4.0
學生37   74   91   70   67   90  392  78.4  17.0
學生38   90   79   64   55   66  354  70.8  31.0
學生39   67   50   62   88   62  329  65.8  47.0
學生40   55   77   94   59   76  361  72.2  27.0
學生41   57   56   64   82   53  312  62.4  50.0
學生42   79   68   69   52   75  343  68.6  39.0
學生43   69   91   84   93   97  434  86.8   3.0
學生44   82   52   58   64   89  345  69.0  36.0
學生45   86   50   78   97   66  377  75.4  21.0
學生46   77   86   81   90   66  400  80.0  14.0
學生47   95   52   50   68   81  346  69.2  35.0
學生48   68   72   61   81   65  347  69.4  34.0
學生49   78   96   62   60   96  392  78.4  17.0
學生50   55   71   90   57   62  335  67.0  44.0

In [3]:
#選擇欄位
df1=df[['國文','英文','數學','自然','社會']]

def apply_statistic(series):
    return series.agg(['mean', 'max', 'min', 'median'])
df2=df1.apply(apply_statistic,axis=0)
df2.index=['平均','最高','最低','中間值']
df2

科目       國文      英文     數學      自然      社會
平均    76.48   73.72   73.9   71.78   76.58
最高   100.00  100.00  100.0  100.00  100.00
最低    52.00   50.00   50.0   50.00   52.00
中間值   75.50   73.00   75.5   70.00   76.00

In [4]:
s1=df1['國文'].agg(['mean', 'max', 'min', 'median'])
s2=df1['英文'].agg(['mean', 'max', 'min', 'median'])
s3=df1['數學'].agg(['mean', 'max', 'min', 'median'])
s4=df1['自然'].agg(['mean', 'max', 'min', 'median'])
s5=df1['社會'].agg(['mean', 'max', 'min', 'median'])
stats=pd.DataFrame([s1, s2, s3, s4, s5],index=['國文', '英文', '數學', '自然', '社會'])
stats

     mean    max   min  median
國文  76.48  100.0  52.0    75.5
英文  73.72  100.0  50.0    73.0
數學  73.90  100.0  50.0    75.5
自然  71.78  100.0  50.0    70.0
社會  76.58  100.0  52.0    76.0