In [12]:
#AI建立一個funtion
#資料來源:scores=np.random.randint(50,101,size=(50,5))
#欄位:['國文', '英文', '數學', '自然', '社會']
#索引:'學生' + str(i) for i in range(1, 51)]
#建立一個DataFrame
import numpy as np
import pandas as pd

def build_scores_dataframe(scores):
    df = pd.DataFrame(scores,
                      columns=['國文', '英文', '數學', '自然', '社會'],
                      index=['學生' + str(i) for i in range(1, 51)])
    df.index.name = '學生'
    df.columns.name = '科目'
    sum_values = df.sum(axis=1)
    mean_values = df.mean(axis=1)
    df['總分'] = sum_values
    df['平均'] = mean_values
    rank_values = sum_values.rank(method='min', ascending=False)
    df['排名'] = rank_values
    return df

In [16]:
scores = np.random.randint(50,101,size=(50, 5))
df = build_scores_dataframe(scores)
df
#AI建立一個funtion
#依據df
#建立一個統計的DataFrame
#欄位:['國文', '英文', '數學', '自然', '社會']
#欄位:['平均','最高','最低','中間值']

def build_statistics_dataframe(df):
    stats = df[['國文', '英文', '數學', '自然', '社會']].agg(['mean', 'max', 'min', 'median']).T
    stats.columns = ['平均', '最高', '最低', '中間值']
    return stats
build_statistics_dataframe(df)

       平均     最高    最低   中間值
科目
國文  75.80  100.0  53.0  77.5
英文  78.18  100.0  50.0  79.5
數學  76.88   99.0  52.0  76.5
自然  72.46   98.0  50.0  73.5
社會  75.30  100.0  51.0  74.5

In [14]:
#建立1個統計的DataFrame
def create_statistics_dataframe(df):
    cols = ['國文', '英文', '數學', '自然', '社會']
    stats = df[cols].agg(['mean', 'max', 'min', 'median'])
    stats.index = ['平均', '最高', '最低', '中間值']
    return stats
create_statistics_dataframe(df)

科目      國文      英文      數學      自然     社會
平均   76.46   78.82   75.16   74.62  75.24
最高   98.00  100.00  100.00  100.00  99.00
最低   50.00   50.00   51.00   51.00  50.00
中間值  74.50   80.50   72.50   70.00  74.50