In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.086657  0.422753
1    a  two  1.587374  0.371380
2    b  one  0.010117  0.396283
3    b  two  0.091962  1.311165
4    a  one  1.072781  0.258146

In [2]:
df.groupby('key1') ##DataFrame執行Groupby
# 只對數值欄位計算平均值（避免對物件欄位套用 mean）
mean_df=df.groupby('key1')[['data1', 'data2']].mean()

In [4]:
mean_df.stack()

key1
a     data1    1.248937
      data2    0.350759
b     data1    0.051039
      data2    0.853724
dtype: float64

In [8]:
df1=df.groupby('key1')[['data1', 'data2']].agg(['mean','std'])
df1 #3為資料
df1.columns.names=["資料","統計"]
df1.index.name = "類別"
#樞紐分析表
df1.stack(level="統計",future_stack=True)
df1.stack(level="資料",future_stack=True)

統計            mean       std
類別 資料
a  data1  1.248937  0.293177
   data2  0.350759  0.084219
b  data1  0.051039  0.057873
   data2  0.853724  0.646920