In [1]:
import numpy as np
import pandas as pd

df=pd.DataFrame({'key1':['a','a','b','b','a'],
                 'key2':['one','two','one','two','one'],
                 'data1':np.random.randn(5),
                 'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.834802  0.262532
1    a  two  0.267433 -1.578636
2    b  one -0.846634  1.570278
3    b  two  1.565518 -1.790789
4    a  one  0.943263  1.651728

In [2]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean()

0   -0.834802
1    0.267433
2   -0.846634
3    1.565518
4    0.943263
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a    0.125298
b    0.359442
Name: data1, dtype: float64

In [3]:
df['data1'].groupby([df['key1']]).agg(['mean','std']) #多個聚合函數

          mean       std
key1
a     0.125298  0.897514
b     0.359442  1.705650

In [6]:
mean=df['data1'].groupby([df['key1'],df['key2']]).mean() #多重索引
mean

key1  key2
a     one     0.054230
      two     0.267433
b     one    -0.846634
      two     1.565518
Name: data1, dtype: float64

In [ ]:
mean.unstack().stack() #index轉成DataFrame，DataFrame轉乘index

key1  key2
a     one     0.054230
      two     0.267433
b     one    -0.846634
      two     1.565518
dtype: float64